{{ 'jquery.min.js' | asset_url | script_tag }}
<!-- Latest compiled JavaScript -->
<!---script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script-->
<!---link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"-->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
<div class="page-width custome_contect">
  <div class="grid">
    <div class="">
      <div class="section-header text-center">
        <h1 class="Quote_heading">{{ page.title }}</h1>

        <div class="prog-outer"> <div class="progressbar"><span id="percent"></span></div></div>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">

          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {%- assign func = 'return validate()' -%}
        {% form 'contact', id: formId , onsubmit:func %}
          {% include 'form-status', form_id: formId %}
<div class="form-outer">
<!---div class="col-md-4 style_pro">
<div class="">
<ul class="metismenu" id="menu" >
                        <div class="wrapper">

                           <ul class="StepProgress">
                              <li class="StepProgress-item current"><strong>Step 1</strong>
                              </li>
                              <li class="StepProgress-item"><strong>Step 2</strong>
                              </li>
                              <li class="StepProgress-item"><strong>Step 3</strong></li>
                              <li class="StepProgress-item"><strong>Step 4</strong></li>
                             <li class="StepProgress-item"><strong>Step 5</strong></li>
							 <li class="StepProgress-item"><strong>Step 6</strong></li>
							 <li class="StepProgress-item"><strong>Step 7</strong></li>
							 <li class="StepProgress-item"><strong>Step 8</strong></li>
							 <li class="StepProgress-item"><strong>Step 9</strong></li>
							 <li class="StepProgress-item"><strong>Step 10</strong></li>
							 <li class="StepProgress-item"><strong>Step 11</strong></li>

                           </ul>
                        </div>
                     </ul>
</div>	</div--->
<div class="col-md-12 style_pro_big">
<div class="right_side_contnet">
<div class="grid grid--half-gutters">
<div class="step1">
<label for="ContactFormservice" class="center_label"><span class="Step_no">1</span><span>To begin with, what type of fencing service do you require?</span></label>
<div class="step_1_content">
<!---1---->
<input type="radio" id="ContactForminstallation" name="contact[fencing service]" value="Fence installation" />
<label for="ContactForminstallation">Fence installation</label></br>
<p class="empty-cells"></p>
<!---1---->
<input type="radio" id="contactFormGate" name="contact[fencing service]" value="Gate installation" />
<label for="contactFormGate">Gate installation</label></br>
<p class="empty-cells"></p>
<!---1---->
<input type="radio" id="contactFormFence" name="contact[fencing service]" value="Fence and Gate installation" />
<label for="contactFormFence">Fence and Gate installation</label></br>
<p class="empty-cells"></p>
<!---1---->
<input type="radio" id="contactFormRepair" name="contact[fencing service]" value="Repair" />
<label for="contactFormRepair">Repair</label></br>
<p class="empty-cells"></p>
<!---1---->
<input type="radio" id="contactFormOther" name="contact[fencing service]" value="Other" required />
<label for="contactFormOther">Other</label></br>
<p class="empty-cells"></p>
<!---1---->
<div class="adddd" style="display:none;"> Please make a selection</div>

<button type="button" id="firststep" class="first_btnss">Continue</button>
      </div>
</div>
<div class="step2">
<label for="ContactFormAddresss" class="center_label"><span class="Step_no">2</span>What is your project address?</label>
<div class="step_1_content">
<label class="top_label">Address 1 <span class="requird">*</span></label>
<input type="text" id="ContactFormAddresss" name="contact[Address]" placeholder="Address 1" >
<label class="top_label">Address 2 </label>
<input type="text" id="ContactFormAddress2" name="contact[Address2]" placeholder="Address 2">
<label class="top_label">Town<span class="requird">*</span></label>
<input type="text" id="ContactFormTown" name="contact[Town]"  required>
<label class="top_label">Postcode<span class="requird">*</span></label>
<input type="text" id="ContactFormPostcode" name="contact[Postcode]"required>
<label class="top_label">Country<span class="requird">*</span></label>
<input type="text" id="ContactFormCountry" name="contact[Country]" placeholder="" required>
<div class="add" style="display:none;"> Please Fill the required Filds (*)</div>
<div class="btns">
<button type="button" id="backstep1"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="secondstep">continue <i class="fa fa-arrow-right"></i></button>
 </div>
</div>
</div>

<div class="step3">
<label for="ContactFormPurpose"  class="center_label"><span class="Step_no">3</span>Is it for domestic or commercial purposes?</label>
<div class="step_1_content">
<!-----2---------->
<input type="radio" id="ContactFormDomestic" name="contact[Domestic or Commercial]" value="Domestic"  >
<label for="ContactFormDomestic">Domestic</label></br>
<p class="empty-cells"></p>
<!-----2---------->
<input type="radio" id="contactFormCommercial" name="contact[Domestic or Commercial]" value="Commercial" required>
<label for="contactFormCommercial">Commercial</label></br>
<p class="empty-cells"></p>
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" id="backstep2"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="thirdstep">continue <i class="fa fa-arrow-right"></i></button>
</div></div>
</div>

<div class="step4">
<label  class="center_label"><span class="Step_no">4</span>Do you know what type of fence you would like to have installed?</label>
<div class="step_1_content">
<!-----3---------->
<input type="radio" id="ContactFormyes" name="contact[Yes or No]" value="yes" >
<label for="ContactFormyes">Yes</label></br>
<p class="empty-cells"></p>
<!-----3---------->
<input type="radio" id="contactFormtype" name="contact[Yes or No]" value="no" />
<label for="contactFormtype">No</label></br>
<p class="empty-cells"></p>
<div class="adddd" style="display:none;"> Please make a selection</div>


<div class="btns">
<button type="button" id="backstep3"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="fourthstep">continue <i class="fa fa-arrow-right"></i></button>
</div>
</div>
</div>

<div class="step4_1 yes">

<label for="ContactFormheight"class="center_label_inner"><span class="Step_no">4.1</span>What fence would you like to have installed?</label>
<div class="step_1_content">
<!-----4---------->
<input type="radio" id="ContactFormPicket" name="contact[yes]" value=" Picket Fence" />
<label for="ContactFormPicket"> Picket Fence</label></br>
<p class="empty-cells"></p>
<!-----4---------->
<input type="radio" id="contactFormPool" name="contact[yes]" value="Pool Fence" />
<label for="contactFormPool"> Pool Fence</label></br>
<p class="empty-cells"></p>
<!-----4---------->
<input type="radio" id="contactFormPrivacy" name="contact[yes]" value="Privacy Fence"/>
<label for="contactFormPrivacy"> Privacy Fence</label></br>
<p class="empty-cells"></p>
<!-----4---------->
<input type="radio" id="contactFormEquine" name="contact[yes]" value="Equine Fence" />
<label for="contactFormEquine">  Equine Fence</label></br>
<p class="empty-cells"></p>
<!-----4---------->
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" class="backstep4"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="innerstep1">continue</button>
</div></div></div>

<div class="step4_2 no">
<label for="ContactFormheight"class="center_label_inner"><span class="Step_no">4.2</span>What is the height of the fence you want to have installed?</label>
<div class="step_1_content">
<!-----5---------->
<input type="radio" id="ContactFormUp" name="contact[height]" value="Up to 3 ft (0.9m" />
<label for="ContactFormUp">Up to 3 ft (0.9m</label></br>
<p class="empty-cells"></p>
<!-----5---------->
<input type="radio" id="contactForm3-4" name="contact[height]" value="3-4 ft (0.9-1.2m)" />
<label for="contactForm3-4">4-6 ft (1.2-1.8m)</label></br>
<p class="empty-cells"></p>
<!-----5---------->
<input type="radio" id="contactForm4-6" name="contact[height]" value="-6 ft (1.2-1.8m)"/>
<label for="contactForm4-6">3-4 ft (0.9-1.2m)</label></br>
<p class="empty-cells"></p>
<!-----5---------->
<input type="radio" id="contactFormOver" name="contact[height]" value=" Over 6 ft (1.8m)" />
<label for="contactFormOver">Over 6 ft (1.8m)</label></br>
<p class="empty-cells"></p>
<!-----5---------->
<input type="radio" id="contactFormknow" name="contact[height]" value=" Don't know" />
<label for="contactFormknow">Don't know</label></br>
<p class="empty-cells"></p>
<!-----5---------->
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" class="backstep4"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="innerstep2">continue <i class="fa fa-arrow-right"></i></button>

</div></div>
</div>
<div class="step5">
<label for="ContactFormhowmuch " class="center_label"><span class="Step_no">5</span>Approximately, how much fencing do you need?</label>
<div class="step_1_content">
<!-----6---------->
<input type="radio" id="contactForm10m" name="contact[Approximately]" value="Up to 32 ft (10m)" />
<label for="contactForm10m"> Up to 32 ft (10m)</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactForm25m" name="contact[Approximately]" value="32-82 ft (10-25m)" />
<label for="contactForm25m"> 32-82 ft (10-25m)</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactForm50m" name="contact[Approximately]" value="82-164 ft (25-50m)"/>
<label for="contactForm50m">82-164 ft (25-50m)</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactFormOver50m" name="contact[Approximately]" value="Over 164 ft (50m)" />
<label for="contactFormOver50m">Over 164 ft (50m)</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactFormDon" name="contact[Approximately]" value="Don't know" />
<label for="contactFormDon"> Don't know</label>
<p class="empty-cells"></p>
<!-----6---------->
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" id="backstep4"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="fivthstep">continue <i class="fa fa-arrow-right"></i></button>
</div>
</div></div>

<div class="step6">
<label for="ContactFormprimary" class="center_label"><span class="Step_no">6</span>What primary function will the fence serve? (Check all that apply)</label>
<div class="step_1_content">
<label class="custome_checkbox">Keep children safely in the garden
<input type="checkbox" id="ContactFormflexible" name="contact[primary function]" value="Keep children safely in the garden" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox">Keep pets contained
<input type="checkbox" id="contactFormKeep" name="contact[primary function]" value="Keep pets contained" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox">Provide privacy
<input type="checkbox" id="contactFormProvide" name="contact[primary function]" value="Provide privacy"/>
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox"> Attractive yard addition
<input type="checkbox" id="contactFormAttractive" name="contact[primary function]" value="Attractive yard addition" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox">  Property boundary
<input type="checkbox" id="contactFormProperty" name="contact[primary function]" value="Property boundary" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox"> Provide security
<input type="checkbox" id="contactFormsecurity" name="contact[primary function]" value="Provide security" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox">  Wind or noise buffer
<input type="checkbox" id="contactFormWind" name="contact[primary function]" value="Wind or noise buffer" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox"> Contain livestock
<input type="checkbox" id="contactFormContain" name="contact[primary function]" value="Contain livestock" />
  <span class="checkmark"></span>
</label>
<label class="custome_checkbox"> Other
<input type="checkbox" id="contactFormOther" name="contact[primary function]" value="Other" />
  <span class="checkmark"></span>
</label>
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" id="backstep5"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="sixthstep">continue <i class="fa fa-arrow-right"></i></button>
</div></div></div>

<div class="step7">
<label for="ContactFormstatus " class="center_label"><span class="Step_no">7</span>Choose the appropriate status for this project:</label>
<div class="step_1_content">
<input type="radio" id="ContactFormHire" name="contact[appropriate]" value="Ready to Hire" />
<label for="ContactFormHire">Ready to Hire</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactFormPlanning" name="contact[appropriate]" value="Planning and Budgeting" />
<label for="contactFormPlanning"> Planning and Budgeting</label>
<p class="empty-cells"></p>
<!-----6---------->
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" id="backstep6"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="seventhstep">continue <i class="fa fa-arrow-right"></i></button>
</div></div>
</div>

<div class="step8">

<label for="ContactFormcompleted"class="center_label"><span class="Step_no">8</span>When would you like this project to be completed?</label>
<div class="step_1_content">
<input type="radio" id="ContactFormflexible1" name="contact[completed]" value="Timing is flexible" />
<label for="ContactFormflexible1">Timing is flexible</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactFormWithin" name="contact[completed]" value="Within 1 weeks" />
<label for="contactFormWithin">Within 1 weeks</label>
<p class="empty-cells"></p>
<!-----6---------->
<input type="radio" id="contactFormweeks" name="contact[completed]" value="1 - 2 weeks"/>
<label for="contactFormweeks">1 - 2 weeks</label>
<p class="empty-cells"></p>

<!-----6---------->
<input type="radio" id="contactFormMore" name="contact[completed]" value="More than 2 weeks" />
<label for="contactFormMore">More than 2 week</label>
<p class="empty-cells"></p>
<!-----6---------->
<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns">
<button type="button" id="backstep7"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="eightstep">continue <i class="fa fa-arrow-right"></i></button>
</div></div>
</div>

<div class="step9">
 <label for="{{ formId }}-message"class="center_label"><span class="Step_no">8</span>Describe your fencing project in detail</label>
 <div class="step_1_content">
<textarea placeholder="E.g. We would like to have a privacy fence for our garden, two sides are about 50 ft long and the other 25 ft wide, we really like an idea of having a cascade privacy fence at the back and fence with the latice on sides..." rows="10" id="{{ formId }}-message" name="contact[Describe]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
<div class="btns">
<button type="button" id="backstep8"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="ninthstep">continue <i class="fa fa-arrow-right"></i></button> </div></div></div>

<div class="step10">
<label for="ContactFormcontactdetails" class="center_label"><span class="Step_no">9</span>Your contact details</label>
 <div class="step_1_content">
 <label class="top_label">Company name</label>
<input type="text" id="ContactFormcontactdetails" name="contact[contact details]" placeholder="Company name ">
 <label class="top_label">Full name<span class="requird">*</span></label>
<input type="text" id="{{ formId }}-name" name="contact[Full name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"aria-required="true">
 <label class="top_label">Phone<span class="requird">*</span></label>
<input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
 <label class="top_label">Email<span class="requird">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">{% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              {%- endif -%}

			  <div class="add" style="display:none;"> Please Fill the required Filds (*)</div>
			  <div class="btns">
           <button type="button" id="backstep9"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
			<button type="button" id="tenthstep">continue <i class="fa fa-arrow-right"></i></button>
			</div>
			 </div>
          </div>

<div class="step11">
<label for="ContactFormcontacted" class="center_label"><span class="Step_no">10</span>How would you like to be contacted?</label>
 <div class="step_1_content" >
<input type="radio" id="ContactFormEmail" name="contact[Email or Phone]" value="Email" />
<label for="ContactFormEmail">Email</label>
<p class="empty-cells"></p>
<input type="radio" id="contactFormPhone" name="contact[Email or Phone]" value="Phone" />
<label for="contactFormPhone">Phone</label>
<p class="empty-cells"></p>
<label class="custome_checkbox">I agree to the <a href="https://simplefencing.co.uk/pages/terms-and-conditions" target="_blank" title="Terms and Conditions">terms & conditions</a>
<input type="checkbox" id="ContactFormagree" name="contact[conditions]">
  <span class="checkmark"></span>
</label>

<div class="adddd" style="display:none;"> Please make a selection</div>
<div class="btns last">
<button type="button" class="backstep10"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
<button type="button" id="elevenththstep">continue <i class="fa fa-arrow-right"></i></button>
</div>
</div>
</div>
<div class="Done_btn">
<button type="button" class="backstep10"> <i class="fa fa-arrow-left" aria-hidden="true"></i>pervious</button>
  <input type="submit" class="btn custome" value="{{ 'contact.form.submit' | t }}">
</div>
{% endform %}
      </div></div>
    </div>
</div>
  </div>
</div>
</div>
<script>
function validate()
{
  var name1 = $("input[name='contact[Email or Phone]']:checked").val();
if(name1)
   {
        // alert("Please select atleast one");
      }
	}
	//step 1
   jQuery(document).ready(function(){
     var width = 0;
        jQuery("#firststep").click(function(){
		var radioValue = $("input[name='contact[fencing service]']:checked").val();
            if(radioValue){
				$(".step1").slideUp();
				 $(".step2").slideDown();
				 $(".adddd").hide();
				 $('.StepProgress li:first-child').removeClass('current');
   	$('.StepProgress li:first-child').addClass('is-done');
   	$('.StepProgress li:nth-of-type(2)').addClass('current');
		if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }

   	//$(this).hide();
            }
          else
          {
            $(".adddd").show();
          }

        });

    });
	//step 2
   jQuery(document).ready(function(){
   var width = 10;
 jQuery("#secondstep").click(function(){
var textval = $("input[name='contact[Address]']").val();
var townval = $("input[name='contact[Town]']").val();
var Countryval = $("input[name='contact[Country]']").val();
var postcodeval = $("input[name='contact[Postcode]']").val();
//alert(textval,townval);


        if(textval && townval && Countryval && postcodeval){
             $(".step2").slideUp();
			 $(".step3").slideDown();
 $(".add").hide();
 $('.StepProgress li:nth-of-type(2)').removeClass('current');
   	$('.StepProgress li:nth-of-type(2)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(3)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }

}

 else
          {
           $(".add").show();
          }

        });

    });
	// step 3
	  jQuery(document).ready(function(){
	  var width = 20;
        jQuery("#thirdstep").click(function(){

			var stepthrid = $("input[name='contact[Domestic or Commercial]']:checked").val()
            if(stepthrid){
			//alert('stepthrid');
			$(".step3").slideUp();
			 $(".step4").slideDown();
			  $(".adddd").hide();
			  $('.StepProgress li:nth-of-type(3)').removeClass('current');
   	$('.StepProgress li:nth-of-type(3)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(4)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }

   //	$(this).hide();
            }
          else
          {
     $(".adddd").show();
          }

        });

    });
//step 4
	 jQuery(document).ready(function(){

        jQuery("#fourthstep").click(function(){

			var box1 = $("input[name='contact[Yes or No]']:checked").val() == "yes"
			var box2 = $("input[name='contact[Yes or No]']:checked").val()== "no"

            if(box1){
			$(".step4").slideUp();
			$(".step4_1").slideDown();
			$(".adddd").hide();

            }
			else if(box2){
			$(".adddd").hide();
			$(".step4").slideUp();
			$(".step4_2").slideDown();

			}
          else
          {
$(".adddd").show();
          }
        });


    });
$("input").keypress(function(){
 $("#add").hide();
});
// step 4.1
jQuery(document).ready(function(){
var width = 30;
		jQuery("#innerstep1").click(function(){
		var fourstep = $("input[name='contact[yes]']:checked").val()
		if (fourstep)
		{
		$(".step4_1").slideUp();
		$(".step5").slideDown();
		$(".adddd").hide();
		$('.StepProgress li:nth-of-type(4)').removeClass('current');
		$('.StepProgress li:nth-of-type(4)').addClass('is-done');
		$('.StepProgress li:nth-of-type(5)').addClass('current');
		if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
		//	$(this).hide();
		}
		else{
		$(".adddd").show();
		}
	});
});
// step 4.2
jQuery(document).ready(function(){
var width1 = 30;
		jQuery("#innerstep2").click(function(){
		var fourstepiner = $("input[name='contact[height]']:checked").val()
		if (fourstepiner)
		{
		//alert(fourstepiner)
		$(".step4_2").slideUp();
		$(".step5").slideDown();
		$(".adddd").hide();
		$('.StepProgress li:nth-of-type(4)').removeClass('current');
		$('.StepProgress li:nth-of-type(4)').addClass('is-done');
		$('.StepProgress li:nth-of-type(5)').addClass('current');
		if(width1 < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
		//	$(this).hide();
		}
		else{
		$(".adddd").show();
		}
	});
});
	// step 5
	 jQuery(document).ready(function(){
	 var width = 40;
        jQuery("#fivthstep").click(function(){

			var fivestep = $("input[name='contact[Approximately]']:checked").val()
            if(fivestep){
			//alert(fivestep);
            $(".step5").slideUp();
			 $(".step6").slideDown();
			  $(".adddd").hide();
			     $('.StepProgress li:nth-of-type(5)').removeClass('current');
   	$('.StepProgress li:nth-of-type(5)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(6)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	 	//$(this).hide();
            }
          else
          {
      $(".adddd").show();
          }

        });

    });
	//sixth step
		 jQuery(document).ready(function(){
		 var width = 50;
        jQuery("#sixthstep").click(function(){

			var sixth = $("input[name='contact[primary function]']:checked").val()
            if(sixth){
			//alert(sixth);
            $(".step6").slideUp();
			 $(".step7").slideDown();
			  $(".adddd").hide();
			       $('.StepProgress li:nth-of-type(6)').removeClass('current');
   	$('.StepProgress li:nth-of-type(6)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(7)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	 	//$(this).hide();
            }
          else
          {
      $(".adddd").show();
          }

        });

    });
		//seventh step
		 jQuery(document).ready(function(){
		 var width = 60;
        jQuery("#seventhstep").click(function(){

			var seventhstep = $("input[name='contact[appropriate]']:checked").val()
            if(seventhstep){
			//alert(seventhstep);
            $(".step7").slideUp();
			 $(".step8").slideDown();
			  $(".adddd").hide();
			    $('.StepProgress li:nth-of-type(7)').removeClass('current');
   	$('.StepProgress li:nth-of-type(7)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(8)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	 //	$(this).hide();
            }
          else
          {
      $(".adddd").show();
          }
        });


    });
		//eight step
		 jQuery(document).ready(function(){
		 var width = 70;
        jQuery("#eightstep").click(function(){

			var eightstep = $("input[name='contact[completed]']:checked").val()
            if(eightstep){
			//alert(eightstep);
            $(".step8").slideUp();
			 $(".step9").slideDown();
			  $(".adddd").hide();
			    $('.StepProgress li:nth-of-type(8)').removeClass('current');
   	$('.StepProgress li:nth-of-type(8)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(9)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	 	//$(this).hide();
            }
          else
          {
      $(".adddd").show();
          }

        });

    });
			//nineth step
		 jQuery(document).ready(function(){
		 var width = 80;
        jQuery("#ninthstep").click(function(){

			$(".step9").slideUp();
			 $(".step10").slideDown();

         $('.StepProgress li:nth-of-type(9)').removeClass('current');
   	$('.StepProgress li:nth-of-type(9)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(10)').addClass('current');
	if(width < 100){
	width += 10;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	// 	$(this).hide();

        });

    });
	//tenthstep
	  jQuery(document).ready(function(){
	  var width = 90;
 jQuery("#tenthstep").click(function(){
var fullname = $("input[name='contact[Full name]']").val();
var phone = $("input[name='contact[phone]']").val();
var email = $("input[name='contact[email]']").val();
if(fullname && phone && email ){
             $(".step10").slideUp();
			 $(".step11").slideDown();
 $(".add").hide();
   $('.StepProgress li:nth-of-type(10)').removeClass('current');
   	$('.StepProgress li:nth-of-type(10)').addClass('is-done');
   	$('.StepProgress li:nth-of-type(11)').addClass('current');
	if(width < 100){
	width += 5;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }
	 	//$(this).hide();
          }

 else
          {
           $(".add").show();
          }

        });

    });
	//eleventh step
	jQuery(document).ready(function(){
      var width = 95;
 jQuery("#elevenththstep").click(function(){
 var emailorphone = $("input[name='contact[Email or Phone]']:checked").val()
var conditions = $("input[name='contact[conditions]']:checked").val()
//alert(textval,townval);
if(emailorphone && conditions ){
//alert(emailorphone);
             $(".Done_btn").slideDown();
			  $(".last").slideUp();
  if(width < 100){
	width += 5;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }

 $(".adddd").hide();
 }
 else
          {
           $(".adddd").show();
          }

        });

    });

	// send button

	//back step1
		  jQuery(document).ready(function(){
 jQuery("#backstep1").click(function(){

$(".step2").slideUp();
$(".step1").slideDown();
//$("#firststep").show();
	      });

    });
	//back step2
jQuery(document).ready(function(){
	 jQuery("#backstep2").click(function(){
	 $(".step3").slideUp();
	$(".step2").slideDown();
	//$("#firststep").show();
});
});
//back step3
jQuery(document).ready(function(){
	 jQuery("#backstep3").click(function(){
	 $(".step4").slideUp();
	$(".step3").slideDown();
	//$("#firststep").show();
});
});

//back step4.1,4.2
jQuery(document).ready(function(){
	 jQuery(".backstep4").click(function(){
	 $(".step4_2,.step4_1").slideUp();
	$(".step4").slideDown();
	//$("#firststep").show();
});
});
// backstep5

jQuery(document).ready(function(){
	 jQuery("#backstep4").click(function(){
var selected = $("input[name='contact[yes]']:checked").val()
//var selected = $("input[type='radio'][name='contact[yes]']:checked");
if (selected) {
$(".step4_1").slideDown();
$(".step5").slideUp();
}
else
{
$(".step4_2").slideDown();
$(".step5").slideUp();
}
});
});
//back step 6
jQuery(document).ready(function(){
	 jQuery("#backstep5").click(function(){
	 $(".step6").slideUp();
	$(".step5").slideDown();
	//$("#firststep").show();
});
});
//back step 7
jQuery(document).ready(function(){
	 jQuery("#backstep6").click(function(){
	 $(".step7").slideUp();
	$(".step6").slideDown();
	//$("#firststep").show();
});
});
//back step 8
jQuery(document).ready(function(){
	 jQuery("#backstep7").click(function(){
	 $(".step8").slideUp();
	$(".step7").slideDown();
	//$("#firststep").show();
});
});
//back step 9
jQuery(document).ready(function(){
	 jQuery("#backstep8").click(function(){
	 $(".step9").slideUp();
	$(".step8").slideDown();

});
});
//back step 10
jQuery(document).ready(function(){
	 jQuery("#backstep9").click(function(){
	 $(".step10").slideUp();
	$(".step9").slideDown();

});
});
//back step 11
jQuery(document).ready(function(){
	 jQuery(".backstep10").click(function(){
	 $(".step11").slideUp();
	$(".step10").slideDown();
     $(".Done_btn").hide();
       if(width < 100){
	width += 5;
	$('#percent').html(width + ' %');
	  $(".progressbar").animate({
            width: "+=10%"
        },"slow");
        // Disable prev button if width is equal to 0
        }

});
});

</script>

<script>
function myFunction()
{
var name = document.getElementById("ContactForminstallation");
//var name1 = document.getElementById("ContactFormAddress2");
if (name.value == "")
    {
	document.getElementById('add').style.display = "block";
      name.focus();
        return false;
    }

	} </script>
